.paper-display {
    margin-top: 30px;
}


.paper-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Corrected here */
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
