/* General styles */

.explore-menu h2 {
    color:#0d6efd;
    font-weight: 500;
    font-size: 1.8rem;
}

.explore-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.explore-menu-text {
    color: #808080;
    margin: 0;
    font-size: 1.2rem;
    max-width: 90%; /* Ensure text doesn't overflow */
}

.explore-menu-list {
    display: flex; /* Use flexbox for horizontal scrolling */
    gap: 20px; /* Space between items */
    overflow-x: auto; /* Allow horizontal scrolling */
    scroll-behavior: smooth;
    padding-bottom: 10px; /* Space for scrollbar */
    white-space: nowrap; /* Prevent items from wrapping */
}

/* Hide scrollbar but allow scrolling */
.explore-menu-list::-webkit-scrollbar {
    height: 8px; /* Height of the scrollbar */
    display: none;
}

.explore-menu-list::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
}

/* Slider items */
.explore-menu-list-item {
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    text-align: center; /* Center text */
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #0d6efd;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
}

.explore-menu-list-item img {
    border-radius: 50%;
    transition: border 0.1s ease;
    max-width: 100%;
    width: 150px;
    height: 140px;
    object-fit: cover;
}

.explore-menu-list-item img.active {
    border: 4px solid #0d6efd;
    padding: 2px;
}

/* Arrow buttons */
.arrows {
    display: flex;
    gap: 10px;
}

.arrow {
    background-color: rgba(2, 6, 12, 0.15);
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.arrow:hover {
    background-color: #ccc;
    transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 480px) {
    .explore-menu-list {
        /* Show 2 items at a time on mobile */
        scroll-snap-type: x mandatory;
    }

    .explore-menu-list-item {
        flex: 0 0 50vw; /* Full width for each item */
        scroll-snap-align: center;
    }

    .explore-menu-list{
        gap:0px!important;
    }
    
    .explore-menu-text {
        font-size: 1rem;
    }
}

@media (min-width: 481px) {
    .explore-menu-list {
        /* Show 4 items at a time on desktop */
        scroll-snap-type: x mandatory;
    }    
    .explore-menu-list-item {
        flex:0 0 18vw!important;
        scroll-snap-align: start;
    }

    .explore-menu-list-item {
        flex: 0 0 25vw; /* 4 items per viewport width */
        scroll-snap-align: start;
    }

}
